/* font */
@mixin text($font-size) {
    text-align: center;

    @media (min-width: 992px) {
        font-size: $font-size + px;
    }

    /* 平板電腦 */
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: $font-size + px;
    }

    /* 手機 */
    @media (max-width: 767px) {
        font-size: $font-size + px;
    }

    /* 小手機 */
    @media (max-width: 480px) {
        font-size: $font-size - 6 + px;
    }
}

.text-Oversized {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
    color: $font-color-1;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    padding: 0px;

    @media (min-width: 992px) {
        font-size: 56px;
    }

    /* 平板電腦 */
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 48px;
    }

    @media (max-width: 767px) {
        font-size: 36px;
    }

    /* 手機 */
    @media (max-width: 480px) {
        font-size: 28px;
    }
}

.text-Large-0 {
    @include text(36);
    color: $font-color-0;
    opacity: 0.99;
}

.text-Large-1 {
    @include text(36);
    color: $font-color-1;
}

.text-Large-2 {
    @include text(36);
    color: $font-color-2;
}

.text-medium-0 {
    @include text(24);
    color: $font-color-0;
    opacity: 0.99;
}

.text-medium-1 {
    @include text(24);
    color: $font-color-1;
}

.text-medium-2 {
    @include text(24);
    color: $font-color-2;
}

.text-small-0 {
    @include text(16);
    color: $font-color-0;
    opacity: 0.99;
}

.text-small-1 {
    @include text(16);
    color: $font-color-1;
}

.text-small-2 {
    @include text(16);
    color: $font-color-2;
}

.text-article-0 {
    color: $font-color-0;
    @include text(19);
    opacity: 0.99;
}

.text-article-1 {
    color: $font-color-1;
    @include text(19);
}

.text-article-2 {
    @include text(19);
    color: $font-color-2;
}
