/*
//---------------------------------------------------------------------------
// index.scss
//---------------------------------------------------------------------------
*/
#Web-page-slogan {
    @include RWD(pc) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include RWD(pad) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include RWD(mobile) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.index {
    .btn-1 {
        border-color: rgba(255, 255, 255, .9);
    }
}

/*
//---------------------------------------------------------------------------
// search.scss
//---------------------------------------------------------------------------
*/
.search-container {
    @include RWD(pc) {
        padding-top: 30px;
    }

    @include RWD(pad) {
        padding-top: 30px;
    }

    @include RWD(mobile) {
        padding-top: 20px;
    }
}

.searchType-list {
    text-align: center;

    @include RWD(pc) {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    @include RWD(pad) {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    @include RWD(mobile) {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

/*
//---------------------------------------------------------------------------
// catalog.scss
//---------------------------------------------------------------------------
*/
.panel-group {
    margin-top: 30px;

    .panel-default {
        /* style */
        border-color: $bg-color-2;

        .panel-heading {
            /* position */
            height: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            /* style */
            cursor: pointer;
            background-color: $bg-color-0;

            h4 {
                height: 100%;

                span {
                    vertical-align: middle;
                    padding-right: 10px;
                    padding-left: 10px;
                }

                .glyphicon {
                    font-size: 10px;
                    color: $font-color-1;
                }
            }

        }
    }
}

/*
//---------------------------------------------------------------------------
// detail.scss
//---------------------------------------------------------------------------
*/
.textdata {
    margin-top: 30px;
    text-align: center;

    .data {
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        margin-top: 15px;
    }

    .p {
        margin-bottom: 30px;
    }

    hr {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
        padding: 0px;
        background-color: $bg-color-1;
        height: 3px;
    }

    img {
        // position
        width: 80%;
        height: auto;
        max-width: 80%;
        max-height: 80%;
        // style
        border-radius: 5px;
        border: solid 1px;
        border-color: $border-color-2;
    }

}

/*
//---------------------------------------------------------------------------
// recognition.scss
//---------------------------------------------------------------------------
*/
.recognition {
    form {

        /* [共通設定] 影像辨識按鈕，覆蓋掉 input file */
        .btn-0,
        .btn-1,
        .RoundBtn-1,
        .img-detail,
        .camera {
            display: inline-block;
            /* position */
            margin: 0 0;
            overflow: hidden;
            position: relative;
            /* position style */
            // margin-top: 30px;
            cursor: pointer;

            input {
                position: absolute;
                min-height: 100%;
                min-width: 100%;
                top: 0px;
                left: 0px;
                z-index: 2;
                opacity: 0.0;
                /* Standard: FF gt 1.5, Opera, Safari */
                filter: alpha(opacity=0);
                /* style */
                cursor: pointer !important;
            }
        }

        /* [button獨立設定] button因為有設定大小，所以需要line-height */
        .btn-0,
        .btn-1 {
            span {
                cursor: pointer;

                @include RWD(pc) {
                    line-height: 54px;
                }

                @include RWD(pad) {
                    line-height: 44px;
                }

                @include RWD(mobile) {
                    line-height: 39.5px;
                }
            }
        }

        /* [RoundBtn獨立設定]  */
        .RoundBtn-1 {
            /* position */
            padding: 5px 15px;

            @include RWD(pc) {
                margin-top: 30px;
            }

            @include RWD(pad) {
                margin-top: 30px;
            }

            @include RWD(mobile) {
                margin-top: 15px;
            }

            /* style */
            border-radius: 30px;
        }
    }

    /* 辨識結果區塊 */
    .slider {
        text-align: center;

        .RoundBtn-1 {
            /* position */
            margin-top: 20px;

            @include RWD(pc) {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include RWD(pad) {
                padding-left: 25px;
                padding-right: 25px;
            }

            @include RWD(mobile) {
                padding-left: 20px;
                padding-right: 20px;
            }

            /* style */
            border-radius: 25px;

        }
    }

    .userImg {
        /* position */
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;

        /* inner-position */
        @include RWD(pc) {
            padding: 10px;
        }

        @include RWD(pad) {
            padding: 10px;
        }

        @include RWD(mobile) {
            padding: 8px;
        }

        /* style */
        border-radius: 20px;
        border: solid 1px;
        border-color: $border-color-1;

        div {
            /* position */
            width: 100%;
            /* style */
            border-radius: 10px;
            border: solid 1px;
            border-color: $border-color-2;

            img {
                /* position */
                /* 圖片隨邊界調整大小 */
                width: 100%;
                min-width: 100%;
                /* style */
                border-radius: 10px;
                border: solid 1px;
                border-color: $border-color-2;
            }
        }

    }
}

/*
//---------------------------------------------------------------------------
// suggestion.scss
//---------------------------------------------------------------------------
*/

.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                /* position */
                position: relative;
                /* style */
                border-bottom: 2px solid $border-color-1;

                button {
                    position: absolute;
                    /* absolute 專用的垂直置中 */
                    top: 50%;
                    left: 95%;
                    transform: translate(-50%, -50%);
                }
            }
            .modal-footer {
                /* position */
                text-align: center;
                /* style */
                border-top: none;
            }
        }
    }
}
