/*
//---------------------------------------------------------------------------
// index.scss
//---------------------------------------------------------------------------
*/
#Web-page-slogan {
    @include RWD(pc) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include RWD(pad) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include RWD(mobile) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.cta-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    p {
        margin-top: 30px;
    }
}

/*
//---------------------------------------------------------------------------
// search.scss
//---------------------------------------------------------------------------
*/
.search-container {
    @include RWD(pc) {
        padding-top: 30px;
    }

    @include RWD(pad) {
        padding-top: 30px;
    }

    @include RWD(mobile) {
        padding-top: 20px;
    }
}

.searchType-list {
    text-align: center;

    @include RWD(pc) {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    @include RWD(pad) {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    @include RWD(mobile) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/*
//---------------------------------------------------------------------------
// detail.scss
//---------------------------------------------------------------------------
*/
.textdata {
    margin-top: 30px;
    text-align: center;

    div {
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        margin-top: 10px;
    }

    .p {
        margin-bottom: 30px;
    }

    hr {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
        padding: 0px;
        background-color: $bg-color-1;
        height: 3px;
    }

    img {
        // position
        width: 80%;
        height: auto;
        max-width: 80%;
        max-height: 80%;
        // style
        border-radius: 5px;
        border: solid 1px;
        border-color: $border-color-2;
    }

}
