/*
//---------------------------------------------------------------------------
// index.scss
//---------------------------------------------------------------------------
*/
#Web-page-slogan {
    @include RWD(pc) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include RWD(pad) {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    @include RWD(mobile) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

/*
//---------------------------------------------------------------------------
// search.scss
//---------------------------------------------------------------------------
*/
.search-container {
    @include RWD(pc) {
        padding-top: 30px;
    }

    @include RWD(pad) {
        padding-top: 30px;
    }

    @include RWD(mobile) {
        padding-top: 20px;
    }
}

.searchType-list {
    text-align: center;

    @include RWD(pc) {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    @include RWD(pad) {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    @include RWD(mobile) {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

/*
//---------------------------------------------------------------------------
// catalog.scss
//---------------------------------------------------------------------------
*/
.panel-group {
    .panel-default {
        /* style */
        border-color: $bg-color-2;

        .panel-heading {
            /* position */
            height: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            /* style */
            cursor: pointer;
            background-color: $bg-color-0;

            h4 {
                height: 100%;

                span {
                    vertical-align: middle;
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }

        }
    }
}

/*
//---------------------------------------------------------------------------
// detail.scss
//---------------------------------------------------------------------------
*/
.textdata {
    margin-top: 30px;
    text-align: center;

    div {
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        margin-top: 15px;
    }

    .p {
        margin-bottom: 30px;
    }

    hr {
        margin-top: 0px !important;
        margin-bottom: 10px !important;
        padding: 0px;
        background-color: $bg-color-1;
        height: 3px;
    }

    img {
        // position
        width: 80%;
        height: auto;
        max-width: 80%;
        max-height: 80%;
        // style
        border-radius: 5px;
        border: solid 1px;
        border-color: $border-color-2;
    }

}

/*
//---------------------------------------------------------------------------
// recognition.scss
//---------------------------------------------------------------------------
*/
.recognition {
    form {
        .btn-1 {
            display: inline-block;
            /* position */
            overflow: hidden;
            position: relative;
            /* position style */
            margin-top: 30px;
            cursor: pointer;

            input {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0px;
                left: 0px;
                z-index: 2;
                opacity: 0.0;
                /* Standard: FF gt 1.5, Opera, Safari */
                filter: alpha(opacity=0);
                /* style */
                cursor: pointer;
            }

            span {
                @include RWD(pc) {
                    line-height: 54px;
                }

                @include RWD(pad) {
                    line-height: 44px;
                }

                @include RWD(mobile) {
                    line-height: 38px;
                }
            }
        }
    }
}
