$bg-color-0: #ffffff;
$bg-color-1: #2699fb;
$bg-color-2: #bce0fd;
$border-color-0: #ffffff;
$border-color-1: #2699fb;
$border-color-2: #bce0fd;

/* 全域宣告 */
body {
    // 樣式
    font-family: 'Noto Sans TC', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    // 框架
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;

    :hover {
        text-decoration: none;
        color: #ffffff;
    }
}

/* 全域效果 */
.hidden-phone {
    @media (max-width: 767px) {
        display: none !important;
        visibility: hidden !important;
    }
}

/* index */

.popularKeyword {
    display: inline;
    border: solid 1px;
    border-radius: 10px;
    border-color: $border-color-0;
    opacity: 0.9;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
