/*
//---------------------------------------------------------------------------
// 變數 - color
//---------------------------------------------------------------------------
*/
// background
$bg-color-0: #ffffff;
$bg-color-1: #2BB388;
$bg-color-2: #54CC86;
// font
$font-color-0: #ffffff;
$font-color-1: #2BB388;
$font-color-2: #54CC86;
$font-color-3: #707070;
// buttom
$btn-color-0: #ffffff;
$btn-color-1: #2BB388;
$btn-color-2: #54CC86;
// border
$border-color-0: #ffffff;
$border-color-1: #2BB388;
$border-color-2: #54CC86;
/*
//---------------------------------------------------------------------------
// mixin
//---------------------------------------------------------------------------
*/
@mixin RWD($type) {

    //判斷變數是pc、pad還是mobile，再依照判斷出來的載入對應的media query
    @if $type==pc {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }

    @else if $type==pad {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }

    @else if $type==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
}
