/* color */
$bg-color-1: #2699fb;
$font-color-0: #ffffff;

/* 導覽列 navbar */
.navbar-default {
    .container-fluid {
        // height: 80px;
        background-color: $bg-color-1;
        // opacity: 0.9;
        // vertical-align:middle;
    }

    .navbar-header {
        background-color: $bg-color-1;

        /* 漢堡 */
        .navbar-toggle {
            .icon-bar {
                background-color: #ffffff;
            }
        }

        a {
            font-size: 24px;
            color: $font-color-0;
        }
    }

    .navbar-collapse {
        li {
            a {
                font-size: 24px;
                color: $font-color-0;
            }
        }
    }

}

.navbar-toggle {
    // 清除漢堡圖標的外框
    border: none;
    background: transparent !important;

    // 清除漢堡圖標的 hover 動畫效果
    &:hover {
        background: transparent !important;
    }

    // 將 "漢堡" 轉換為 "X"
    .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }

    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
}

.navbar-toggle.collapsed {
    .top-bar {
        transform: rotate(0);
    }

    .middle-bar {
        opacity: 1;
    }

    .bottom-bar {
        transform: rotate(0);
    }
}

// 將 "漢堡圖標" 移往左邊
.navbar-toggle.navbar-left {
    float: left;
    margin-left: 10px;
}
// 更改高度
.navbar {
    min-height: 80px;
  }

  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }

  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }

