.SearchBar-Border {
    // style
    border-radius: 15px;
    border: solid 1px #bce0fd;
    background-color: #ffffff;
    // position
    margin-top: 20px;
    margin-bottom: 20px;

    input {
        height: 60px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        border: 0 none;
        text-align: left !important;
    }
}
.btn-group {
    .dropdown-menu {
        a {
            @include text(24);
            color: $font-color-2;
        }
    }
    .line {
        height: 44px;
        // width: 5%;
        border: none;
        margin-top: 8px;
        margin-bottom: 8px;
        filter: alpha(opacity=0) \9;
        /* IE8 */
        background-color: rgba(255, 255, 255, .1);
        /* IE9及其它瀏覽器會執行此行 */
    }
}

.searchTypeBtn {
    height: 44px;
    border: none;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    filter: alpha(opacity=0) \9;
    /* IE8 */
    background-color: rgba(255, 255, 255, .1);
    /* IE9及其它瀏覽器會執行此行 */
}

.searchBtn {
    height: 44px;
    width: 100%;
    border-radius: 10px;
    background-color: $btn-color-1;
    border: none;
    margin: 8px;
    // border-color: rgba(255, 255, 255, .9);
}
