@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
/* 基底 */
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@media (max-width: 767px) {
  .hidden-phone {
    display: none !important;
    visibility: hidden !important;
  }
}

/* index */
#popularKeyword {
  height: 26px;
  border-radius: 10px;
  border: solid 1px #2699fb;
}

/* text */
.text-Oversized {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
  color: #2699fb;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  padding: 0px;
  /* 平板電腦 */
  /* 手機 */
}

@media (min-width: 980px) {
  .text-Oversized {
    font-size: 56px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-Oversized {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .text-Oversized {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .text-Oversized {
    font-size: 28px;
  }
}

.text-Large-color-1 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #2699fb;
}

@media (min-width: 980px) {
  .text-Large-color-1 {
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-Large-color-1 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .text-Large-color-1 {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .text-Large-color-1 {
    font-size: 30px;
  }
}

.text-Large-color-2 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #bce0fd;
}

@media (min-width: 980px) {
  .text-Large-color-2 {
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-Large-color-2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .text-Large-color-2 {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .text-Large-color-2 {
    font-size: 30px;
  }
}

.text-medium-color-0 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #ffffff;
}

@media (min-width: 980px) {
  .text-medium-color-0 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-medium-color-0 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .text-medium-color-0 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .text-medium-color-0 {
    font-size: 18px;
  }
}

.text-medium-color-1 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #2699fb;
}

@media (min-width: 980px) {
  .text-medium-color-1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-medium-color-1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .text-medium-color-1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .text-medium-color-1 {
    font-size: 18px;
  }
}

.text-medium-color-2 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #bce0fd;
}

@media (min-width: 980px) {
  .text-medium-color-2 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-medium-color-2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .text-medium-color-2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .text-medium-color-2 {
    font-size: 18px;
  }
}

.text-small-color-0 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #ffffff;
}

@media (min-width: 980px) {
  .text-small-color-0 {
    font-size: 19px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-small-color-0 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .text-small-color-0 {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .text-small-color-0 {
    font-size: 13px;
  }
}

.text-small-color-1 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #2699fb;
}

@media (min-width: 980px) {
  .text-small-color-1 {
    font-size: 19px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-small-color-1 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .text-small-color-1 {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .text-small-color-1 {
    font-size: 13px;
  }
}

.text-small-color-2 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #bce0fd;
}

@media (min-width: 980px) {
  .text-small-color-2 {
    font-size: 19px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-small-color-2 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .text-small-color-2 {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .text-small-color-2 {
    font-size: 13px;
  }
}

.text-article-color-1 {
  color: #2699fb;
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
}

@media (min-width: 980px) {
  .text-article-color-1 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-article-color-1 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .text-article-color-1 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text-article-color-1 {
    font-size: 10px;
  }
}

.text-article-color-2 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #bce0fd;
}

@media (min-width: 980px) {
  .text-article-color-2 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-article-color-2 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .text-article-color-2 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text-article-color-2 {
    font-size: 10px;
  }
}

/* color */
/* 導覽列 navbar */
.navbar-default .container-fluid {
  background-color: #2699fb;
}

.navbar-default .navbar-header {
  background-color: #2699fb;
  /* 漢堡 */
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-header a {
  font-size: 24px;
  color: #ffffff;
}

.navbar-default .navbar-collapse li a {
  font-size: 24px;
  color: #ffffff;
}

.btn-1, .btn-2 {
  width: 140px;
  height: 58px;
  border-radius: 4px;
}

.btn-1 {
  background-color: #2699fb;
}

.btn-2 {
  border: solid 2px #bce0fd;
}

#searchBar {
  height: 60px;
  border-radius: 10px;
  border: solid 1px #bce0fd;
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */