@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
/* text */
.text-Oversized {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
  color: #2699fb;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  padding: 0px;
  /* 平板電腦 */
  /* 手機 */
}

@media (min-width: 980px) {
  .text-Oversized {
    font-size: 56px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-Oversized {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .text-Oversized {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .text-Oversized {
    font-size: 28px;
  }
}

.text-Large-0 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #ffffff;
  opacity: 0.99;
}

@media (min-width: 980px) {
  .text-Large-0 {
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-Large-0 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .text-Large-0 {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .text-Large-0 {
    font-size: 30px;
  }
}

.text-Large-1 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #2699fb;
}

@media (min-width: 980px) {
  .text-Large-1 {
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-Large-1 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .text-Large-1 {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .text-Large-1 {
    font-size: 30px;
  }
}

.text-Large-2 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #bce0fd;
}

@media (min-width: 980px) {
  .text-Large-2 {
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-Large-2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .text-Large-2 {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .text-Large-2 {
    font-size: 30px;
  }
}

.text-medium-0 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #ffffff;
  opacity: 0.99;
}

@media (min-width: 980px) {
  .text-medium-0 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-medium-0 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .text-medium-0 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .text-medium-0 {
    font-size: 18px;
  }
}

.text-medium-1 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #2699fb;
}

@media (min-width: 980px) {
  .text-medium-1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-medium-1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .text-medium-1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .text-medium-1 {
    font-size: 18px;
  }
}

.text-medium-2 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #bce0fd;
}

@media (min-width: 980px) {
  .text-medium-2 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-medium-2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .text-medium-2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .text-medium-2 {
    font-size: 18px;
  }
}

.text-small-0 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #ffffff;
  opacity: 0.99;
}

@media (min-width: 980px) {
  .text-small-0 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-small-0 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .text-small-0 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text-small-0 {
    font-size: 10px;
  }
}

.text-small-1 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #2699fb;
}

@media (min-width: 980px) {
  .text-small-1 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-small-1 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .text-small-1 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text-small-1 {
    font-size: 10px;
  }
}

.text-small-2 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #bce0fd;
}

@media (min-width: 980px) {
  .text-small-2 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-small-2 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .text-small-2 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text-small-2 {
    font-size: 10px;
  }
}

.text-article-0 {
  color: #ffffff;
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  opacity: 0.99;
}

@media (min-width: 980px) {
  .text-article-0 {
    font-size: 19px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-article-0 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .text-article-0 {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .text-article-0 {
    font-size: 13px;
  }
}

.text-article-1 {
  color: #2699fb;
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
}

@media (min-width: 980px) {
  .text-article-1 {
    font-size: 19px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-article-1 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .text-article-1 {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .text-article-1 {
    font-size: 13px;
  }
}

.text-article-2 {
  text-align: center;
  /* 平板電腦 */
  /* 手機 */
  color: #bce0fd;
}

@media (min-width: 980px) {
  .text-article-2 {
    font-size: 19px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .text-article-2 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .text-article-2 {
    font-size: 19px;
  }
}

@media (max-width: 480px) {
  .text-article-2 {
    font-size: 13px;
  }
}

/* color */
/* 導覽列 navbar */
.navbar-default .container-fluid {
  background-color: #2699fb;
}

.navbar-default .navbar-header {
  background-color: #2699fb;
  /* 漢堡 */
}

.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-header a {
  font-size: 24px;
  color: #ffffff;
}

.navbar-default .navbar-collapse li a {
  font-size: 24px;
  color: #ffffff;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.btn-0, .btn-1 {
  width: 140px;
  height: 58px;
  border-radius: 5px;
}

.btn-0 {
  filter: alpha(opacity=0) \9;
  /* IE8 */
  background-color: rgba(255, 255, 255, 0.1);
  /* IE9及其它瀏覽器會執行此行 */
  border: solid 2px;
  border-color: #ffffff;
}

.btn-1 {
  background-color: #2699fb;
  border: solid 2px;
  border-color: rgba(255, 255, 255, 0.9);
}

.SearchBar-Border {
  border-radius: 15px;
  border: solid 1px #bce0fd;
  background-color: #ffffff;
}

.SearchBar-Border input {
  height: 60px;
  border-radius: 15px;
  border: 0 none;
}

.someline {
  height: 44px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  filter: alpha(opacity=0) \9;
  /* IE8 */
  background-color: rgba(255, 255, 255, 0.1);
  /* IE9及其它瀏覽器會執行此行 */
}

.searchTypeBtn {
  height: 44px;
  border: none;
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  filter: alpha(opacity=0) \9;
  /* IE8 */
  background-color: rgba(255, 255, 255, 0.1);
  /* IE9及其它瀏覽器會執行此行 */
}

.searchBtn {
  height: 44px;
  width: 100%;
  border-radius: 10px;
  background-color: #2699fb;
  border: none;
  margin: 8px;
}

/* 全域宣告 */
body {
  font-family: 'Noto Sans TC', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
  color: #ffffff;
}

/* 全域效果 */
@media (max-width: 767px) {
  .hidden-phone {
    display: none !important;
    visibility: hidden !important;
  }
}

/* index */
.popularKeyword {
  display: inline;
  border: solid 1px;
  border-radius: 10px;
  border-color: #ffffff;
  opacity: 0.9;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */